{{yield}}

<div class="modal-title">
	<span>Sign In</span>
</div>

<div class="modal-body">
	<div class="input-group">
		{{input class="pretty" type="text" placeholder="Username" value=username}}
		{{input class="pretty" type="password" placeholder="Password" value=password}}
		<hr/>
		<a>Log in</a>
	</div>
</div>