{{yield}}

<div class="modal-title" style={{modalTitleStyle}}>
	<span>Sign In</span>
</div>

<div class="modal-body">
	<a {{action "redirectToCAS"}}><img class="signin" src="svg/User.svg"></a>
	<br/>
	<span class="forgot-text">Forgot?</span>
	<br/>
	<a href="/forgot"><img class="forgot" src="svg/Question.svg" /></a>
</div>