@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400';

@media only screen and (max-width: 600px) {
	.nav-bar {
		opacity: 0 !important;
	}

	.modal {
		top: 0 !important;
		left: 0 !important;
		width: 100% !important;
		height: 100% !important;
		border-radius: 0 !important;
	}

	.modal-title {
		border-radius: 0 !important;
	}

	.small-modal {
		top: 0 !important;
		left: 0 !important;
		width: 100% !important;
		height: 100% !important;
		border-radius: 0 !important;
	}
}

a {
	color: #006BAA;
    text-decoration: none;
    cursor: pointer;
	font-family: "Source Sans Pro", sans-serif;
}

a:hover {
    text-decoration: underline;
}

html {
	width: 100%;
	height: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}


body {
	margin: 0;
	width: 100%;
	height: 100%;
}

span {
	font-family: "Source Sans Pro", sans-serif;
}

.overlay {
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	-webkit-backdrop-filter: blur(20px) saturate(180%);
}

.hide-still {
	opacity: 0;
	pointer-events: none;
}

.show-still {
	opacity: 1;
}

.ease {
	-webkit-transition: all 500ms cubic-bezier(0.000, 1, 0.000, 1); /* older webkit */
	-webkit-transition: all 500ms cubic-bezier(0.000, 1, 0.000, 1); 
	   -moz-transition: all 500ms cubic-bezier(0.000, 1, 0.000, 1); 
	     -o-transition: all 500ms cubic-bezier(0.000, 1, 0.000, 1); 
	        transition: all 500ms cubic-bezier(0.000, 1, 0.000, 1); /* custom */

	-webkit-transition-timing-function: cubic-bezier(0.000, 1, 0.000, 1); /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.000, 1, 0.000, 1); 
	   -moz-transition-timing-function: cubic-bezier(0.000, 1, 0.000, 1); 
	     -o-transition-timing-function: cubic-bezier(0.000, 1, 0.000, 1); 
	        transition-timing-function: cubic-bezier(0.000, 1, 0.000, 1); /* custom */
}

.blur {
	-webkit-filter: brightness(0.5) blur(2.5px) !important;
	-moz-filter: brightness(0.5) blur(2.5px) !important;
	-ms-filter: brightness(0.5) blur(2.5px) !important;
	-o-filter: brightness(0.5) blur(2.5px) !important;
	filter: brightness(0.5) blur(2.5px) !important;

	pointer-events: none;
}

.activity {
	position: fixed;
	top: 50%;
	left: 0;
	text-align: center;
	width: 100%;
}

.activity span {
	margin-top: 50px;
	display: block;
	font-size: 16px;
	font-family: "Source Sans Pro", sans-serif;
	color: white;
}

.disappear {
	opacity: 0;
}

.noscroll {
	overflow: visible !important;
}

.relative-container {
	height: 100%;
	width: 100%;
	position: relative;
}

.push-top {
	display: block;
	margin-top: 10px;
}

.push-bottom {
	display: block;
	margin-bottom: 10px;
}


.nav-bar {
	width: 100%;
	height: 65px;
	background-color: #2E2E2E;
	position: relative;
	opacity: 1;
	box-shadow: 0 0 20px -2.5px #2E2E2E;
}

.nav-bar .title {
	width: 100%;
	height: 100%;
	display: flex;
}

.nav-bar .title span {
	font-size: 50px;
	color: white;
	margin: auto;
	font-weight: 100;
	letter-spacing: 2px;
}

.nav-bar .psd-logo {
	width: 55px;
	height: 55px;
	position: absolute;
	top: 5px;
	left: 20px;
	background-size: 100%;
	cursor: pointer;
}

.modal {
    top: 150px;
    left: calc(50% - 275px);
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    height: 700px;
    position: absolute;
    border-radius: 15px;
    box-shadow: 0 0 20px 0px rgb(146, 155, 163);
    -webkit-filter: brightness(1) blur(0);
}

.small-modal {
    top: 150px;
    left: calc(50% - 200px);
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 500px;    position: absolute;
    border-radius: 15px;
    box-shadow: 0 0 20px 0px rgb(146, 155, 163);
    -webkit-filter: brightness(1) blur(0);
}

.ldap-modal {
	position: absolute;
    left: calc(50% - 200px);
    top: 250px;
	z-index: 9001;
	height: 300px;
	width: 400px;
	border-radius: 15px;
    box-shadow: 0 0 20px -5px rgb(146, 155, 163);
}

.ldap-modal input.pretty {
	width: 90%;
	margin-left: 0;
	height: 30px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background-color:rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	padding-left: 15px;
	font-size: 18px;
	font-weight: 300;
	text-align: left;
	margin-top: 10px;
}

.wide {
	width: 75% !important;
	left: 12.5% !important;
}

.question-set {
	width: 600px;
	height: 700px;
    left: calc(50% - 300px);
}

.modal-title {
	height: 50px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	width: 100%;
	background-color: #2E2E2E;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
}

.modal-title span {
	margin: auto;
	font-size: 26px;
	color: white;
	font-weight: 200;
}

.modal-body {
	position: absolute;
	top: 55px;
	left: 0;
	height: calc(100% - 105px);
	width: 100%;
	text-align: center;
	overflow-y: auto;
}

.scroll {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.flex {
	display: flex;
}

.margin-auto {
	margin: auto;
}

.vertical-center-margin {
	margin-left: auto;
	margin-right: auto;
}

.done-text {
    width: 90%;
    margin-top: 75px;
    font-size: 24px;
    font-weight: 200;
}

.modal-body .label.username {
	margin-top: 100px;
}

.modal-body hr {
    width: 100%;
    border-top: 1px solid #999;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
}

.modal-body ul {
	list-style: none;
	padding-left: 0;
	margin-top: 26px;
	text-align: center;
	height: 110px;
}

.modal-body ul.verify-answers {
	height: auto;
}

.modal-body ul.verify-answers li.question-title {
	font-size: 24px;
	color: black;
    font-weight: 300;
    margin: auto;
}

.modal-body ul.verify-answers li.answer {
	font-size: 16px;
	color: black;
}

.modal-body ul.verify-answers li.user-answer {
	font-size: 20px;
	font-weight: bold;
	color: black;
}

.modal-body ul.verify-answers .question {
    height: 45px;
    margin-bottom: 10px;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    display: flex;
    background-color: transparent;
    cursor: pointer;
}

.modal-body ul.verify-answers .question:hover {
	background-color: rgba(75, 162, 217, 0.5);
}

.modal-body ul.verify-answers .question:hover .question-title {
	color: white;
}

.modal-body ul .password-success {
	height: 110px;
	width: 110px;
	background-image: url('../svg/checkmark.svg');
	background-size: contain;
	background-repeat: no-repeat;
	margin: auto;

	-webkit-animation: roll-in 500ms ease-in-out;
	-webkit-animation-fill-mode: forwards;
	-moz-animation: roll-in 500ms ease-in-out;
	-moz-animation-fill-mode: forwards;
	-ms-animation: roll-in 500ms ease-in-out;
	-ms-animation-fill-mode: forwards;
	-o-animation: roll-in 500ms ease-in-out;
	-o-animation-fill-mode: forwards;
	animation: roll-in 500ms ease-in-out;
	animation-fill-mode: forwards;
}

.modal-body ul .password-submitting {
	height: 110px;
	width: 110px;
	background-image: url('../svg/checkmark.svg');
	background-size: contain;
	background-repeat: no-repeat;
	margin: auto;

	-webkit-animation: roll-around 4000ms ease-in-out infinite;
	-moz-animation: roll-around 4000ms ease-in-out infinite;
	-ms-animation: roll-around 4000ms ease-in-out infinite;
	-o-animation: roll-around 4000ms ease-in-out infinite;
	animation: roll-around 4000ms ease-in-out infinite;
}

.modal-body ul li {
	font-family: "Source Sans Pro", sans-serif;
	color: salmon;
	-webkit-animation: show 250ms ease-in-out;
	-webkit-animation-fill-mode: forwards;
	-moz-animation: show 250ms ease-in-out;
	-moz-animation-fill-mode: forwards;
	-ms-animation: show 250ms ease-in-out;
	-ms-animation-fill-mode: forwards;
	-o-animation: show 250ms ease-in-out;
	-o-animation-fill-mode: forwards;
	animation: show 250ms ease-in-out;
	animation-fill-mode: forwards;
}

.modal-body ul li.header {
	font-size: 24px;
}

.modal-body ul li.animation-label {
	font-size: 24px;
	color: #55c95d;
}

.modal-body .label {
	margin-top: 25px;
	font-family: "Source Sans Pro", sans-serif;
	color: #999;
}

.modal-body input.student-search {
    border: 1px solid #999;
    width: 75%;
    height: 40px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    outline: none;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 300;
    font-family: "Source Sans Pro";
}

.modal-body input:not(.student-search, .pretty) {
	width: calc(100% - 20px) !important;
	margin-left: 2px;
	height: 50px !important;

	border-radius: 25px;
	border: 1px solid #999;
	padding: 0;
	margin-top: 2px;

	text-align: center;
	font-size: 25px;
	font-weight: 200;
	outline: none;
}

.modal-body input.password {
	width: calc(100% - 20px) !important;
	margin-left: 2px;
	height: 50px !important;

	border-radius: 25px;
	border: 1px solid #999;
	padding: 0;
	margin-top: 2px;

	text-align: center;
	font-size: 25px;
	font-weight: 200;
	outline: none;
}

.modal-body .password:focus {
	box-shadow: 0 0 20px -2.5px rgb(75, 162, 217);
}

.modal-body .password.error:focus {
	box-shadow: 0 0 20px -2.5px salmon;
}

.modal-body .psd-logo {
	width: 75px;
	height: 75px;
	margin-top: 25px;
	background-size: cover;
	cursor: pointer;
	box-shadow: 0 0 0 0 #999;
	border-radius: 100%;
}

.modal-body .psd-logo:hover {
	box-shadow: 0 0 20px 0 #999;
}

.modal-body .buttons {
	width: auto;
	display: inline-flex;
}

.modal-body .buttons .button {
	width: 25px;
	height: 25px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 2.5px;
	margin-right: 2.5px;
	border: 1px solid #999;
	border-radius: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: rgba(255, 255, 255, 0.75);
	display: flex;
	cursor: pointer;
}

.highlight {
	border-color: rgb(75, 162, 217) !important;
	background-color: rgba(75,162,217,0.5) !important;
}

.modal-body .buttons .button:hover {
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0 0 5px -2.5px;
}

.modal-body .buttons .button span {
	color: black;
	font-size: 14px;
	margin: auto;
}

.modal-body .students {
	width: 90%;
	height: 62.5%;
	border: 1px solid #999;
	border-radius: 4px;
	margin: auto;
	overflow-y: scroll;
	overflow-x: hidden;
	text-align: left;
}

.students.confirm-students {
	height: 75%;
}

.modal-body .students .student {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #999;
	background-color: rgba(255, 255, 255, 0.5);
	position: relative;
	cursor: pointer;
}

.modal-body .students .student.success {
	background-color: rgba(85, 201, 93, 0.75);
	color: white;
}

.modal-body .students .student.success:hover {
	background-color: rgba(85, 201, 93, 0.5);
}

.modal-body .students .student.failure {
	background-color: rgba(250, 128, 115, 0.75);
	color: white;
}

.modal-body .students .student.failure:hover {
	background-color: rgba(250, 128, 115, 0.5);
}

.modal-body .students .student:hover {
	background-color: white;
}

.modal-body .students .student .number {
	position: absolute;
	height: 50%;
	width: 100%;
	bottom: 0;
	left: 0;
	padding-bottom: 2px;
	padding-left: 10px;
	line-height: 25px;
}

.modal-body .students .student .name {
	position: absolute;
	height: 50%;
	width: 100%;
	top: 0;
	left: 0;
	padding-top: 2px;
	padding-left: 10px;
	line-height: 25px;
}

.modal-body .example-user {
	text-align: left;
	font-weight: 300;
	padding-left: 10px;
}

.modal-body .scheme {
	width: 97.5%;
	height: 20px;
	position: relative;
	margin: auto;
	border-radius: 5px;
	margin-top: 10px;
}

.modal-body .scheme.last{
	margin-top: 0;
	margin-bottom: 10px;
}

.modal-body .scheme .options {    
    width: calc(25% - 5px);
    height: 100%;
    position: absolute;
    top: 0;
    font-size: 16px;
    font-weight: 200;
    outline: none;
    margin-left: 2.5px;
    margin-right: 2.5px;
}

.modal-body .scheme .extra-options {
	width: 12.5%;
	height: 100%;
	position: absolute;
	top: 0;
	font-size: 16px;
	font-weight: 200;
	outline: none;
}

.modal-body .scheme .first {
	left: 0;
}

.modal-body .scheme .second {
	left: 25%;
}

.modal-body .scheme .third {
	left: 50%;
}

.modal-body .scheme .fourth {
	left: 75%;
}

.modal-body .scheme .extra-options.first {
	left: 6.25%;
}

.modal-body .scheme .extra-options.second {
	left: 31.25%;
}

.modal-body .scheme .extra-options.third {
	left: 56.25%;
}

.modal-body .scheme .extra-options.fourth {
	left: 81.25%;
}

.modal-body .scheme .scheme-button {
	height: calc(100% / 8 - 0.875px);
	width: 100%;
	border-bottom: 1px solid #999;
	display: flex;
	cursor: pointer;
}

.modal-body .scheme .scheme-button span {
	margin: auto;
}

.modal-body .scheme .right {
	width: 50%;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
}

.modal-body .password-preview {
	width: 80%;
	border: 1px solid #aaa;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 5px;
	height: 50px;
	display: flex;
}

.modal-body .password-preview span {
	font-size: 26px;
	font-weight: 400;
	margin: auto;
}

.modal-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 50px;
	width: 100%;
	border-top: 1px solid #2E2E2E;
}

.modal-footer-buttons {
	width: 100%;
	height: 100%;
	display: inline-flex;
}

.modal-footer-button {
	margin: auto;
	height: 100%;
	border-right: 1px solid #2E2E2E;
	cursor: pointer;
	display: flex;

	color: #2E2E2E;
}

.red {
	color: salmon !important;
}

.green {
	color: #55c95d !important;
}

.left-space-fix {
    margin-left: 5px;
}

.modal-footer-button:focus {
	background-color: rgba(75, 162, 217, 0.5);
}

.modal-footer-button:hover {
	background-color: rgba(75, 162, 217, 0.25);
}

.modal-footer-button.first {
	border-bottom-left-radius: 15px;
}

.modal-footer-button.last {
	border-right: 0;
	border-bottom-right-radius: 15px;
}

.modal-footer-button.one {
	width: 100%;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-right: 0;
}

.modal-footer-button.two {
	width: 50%;
}


.modal-footer-button span {
	margin: auto;
	font-size: 18px;
}

.signin {
	margin-top: 25px;
	margin-bottom: 50px;
	height: 200px;
	width: 200px;
}

.forgot-text {
	font-size: 22px;
	font-style: italic;
	font-weight: 300;
}

.forgot {
	height: 75px;
	width: 75px;
}

.answer-choice {
	margin: 10px;
	width: calc(100% - 20px);
	height: 40px;
	border-radius: 20px;
	border: 1px solid #999;
	font-weight: 200;
	display: flex;
	background-color: rgba(255, 255, 255, 0.75);
	cursor: pointer;
}

.answer-choice:hover {
	background-color: rgba(75, 162, 217, 0.25);
}

.answer-choice.highlight {
	background-color: rgba(75, 162, 217, 0.5);
	color: black;
}

.answer-choice span {
	font-size: 18px;
	font-weight: 200;
	margin: auto;
}

.search-highlight {
	-webkit-animation: glow 1500ms 2;
	-moz-animation: glow 1500ms 2;
	-ms-animation: glow 1500ms 2;
	-o-animation: glow 1500ms 2;
	animation: glow 1500ms 2;

	background-color: rgba(75, 162, 217, 0.125) !important;
}

@-webkit-keyframes glow {
	0% {
		background-color: rgba(75, 162, 217, 0.125);
		box-shadow: 0 0 5px -1px rgba(75, 162, 217, 1);
	}

	50% {
		background-color: rgba(75, 162, 217, 0.5);
		box-shadow: 0 0 10px -2px rgba(75, 162, 217, 1);
	}

	100% {
		background-color: rgba(75, 162, 217, 0.125);
		box-shadow: 0 0 5px -1px rgba(75, 162, 217, 1);
	}
}

@-webkit-keyframes show {
	0% {
		opacity: 0;
		pointer-events: none;
		-webkit-transform: translateX(-40px);
	}

	100% {
		opacity: 1;
		pointer-events: all;
		-webkit-transform: translateX(0px);
	}
}

@-webkit-keyframes hide {
	0% {
		opacity: 0;
		pointer-events: none;
		-webkit-transform: translateX(0px);
	}

	100% {
		opacity: 1;
		pointer-events: all;
		-webkit-transform: translateX(40px);
	}
}

@-webkit-keyframes show-back {
	0% {
		opacity: 0;
		pointer-events: none;
		-webkit-transform: translateX(-40px);
	}

	100% {
		opacity: 1;
		pointer-events: all;
		-webkit-transform: translateX(0px);
	}
}

@-webkit-keyframes hide-back {
	0% {
		opacity: 1;
		pointer-events: none;
		-webkit-transform: translateX(0px);
	}

	100% {
		opacity: 0;
		pointer-events: all;
		-webkit-transform: translateX(40px);
	}
}

@-webkit-keyframes roll-in {
	0% {
		opacity: 0;
		pointer-events: none;
		-webkit-transform: translateX(-100px) rotate(-90deg);
	}

	100% {
		opacity: 1;
		pointer-events: all;
		-webkit-transform: translateX(0px) rotate(0deg);
	}
}

@-webkit-keyframes roll-around {
	0% {
		-webkit-transform: translateX(0px) rotate(0deg);
	}

	25% {
		-webkit-transform: translateX(-40px) rotate(-90deg);
	}

	50% {
		-webkit-transform: translateX(40px) rotate(90deg);
	}

	75% {
		-webkit-transform: translateX(-40px) rotate(-90deg);
	}

	100% {
		-webkit-transform: translateX(0px) rotate(0deg);
	}
}

@-moz-keyframes glow {
	0% {
		background-color: rgba(75, 162, 217, 0.125);
		box-shadow: 0 0 5px -1px rgba(75, 162, 217, 1);
	}

	50% {
		background-color: rgba(75, 162, 217, 0.5);
		box-shadow: 0 0 10px -2px rgba(75, 162, 217, 1);
	}

	100% {
		background-color: rgba(75, 162, 217, 0.125);
		box-shadow: 0 0 5px -1px rgba(75, 162, 217, 1);
	}
}

@-moz-keyframes hide {
	0% {
		opacity: 1;
		pointer-events: all;
		-moz-transform: translateX(0px);
	}

	100% {
		opacity: 0;
		pointer-events: none;
		-moz-transform: translateX(-40px);
	}
}

@-moz-keyframes show {
	0% {
		opacity: 0;
		pointer-events: none;
		-moz-transform: translateX(40px);
	}

	100% {
		opacity: 1;
		pointer-events: all;
		-moz-transform: translateX(0px);
	}
}

@-moz-keyframes show-back {
	0% {
		opacity: 0;
		pointer-events: none;
		-moz-transform: translateX(-40px);
	}

	100% {
		opacity: 1;
		pointer-events: all;
		-moz-transform: translateX(0px);
	}
}

@-moz-keyframes hide-back {
	0% {
		opacity: 1;
		pointer-events: none;
		-moz-transform: translateX(0px);
	}

	100% {
		opacity: 0;
		pointer-events: all;
		-moz-transform: translateX(40px);
	}
}

@-moz-keyframes roll-in {
	0% {
		opacity: 0;
		pointer-events: none;
		-moz-transform: translateX(-100px) rotate(-90deg);
	}

	100% {
		opacity: 1;
		pointer-events: all;
		-moz-transform: translateX(0px) rotate(0deg);
	}
}

@-moz-keyframes roll-around {
	0% {
		-moz-transform: translateX(0px) rotate(0deg);
	}

	25% {
		-moz-transform: translateX(-40px) rotate(-90deg);
	}

	50% {
		-moz-transform: translateX(40px) rotate(90deg);
	}

	75% {
		-moz-transform: translateX(-40px) rotate(-90deg);
	}

	100% {
		-moz-transform: translateX(0px) rotate(0deg);
	}
}

@-ms-keyframes glow {
	0% {
		background-color: rgba(75, 162, 217, 0.125);
		box-shadow: 0 0 5px -1px rgba(75, 162, 217, 1);
	}

	50% {
		background-color: rgba(75, 162, 217, 0.5);
		box-shadow: 0 0 10px -2px rgba(75, 162, 217, 1);
	}

	100% {
		background-color: rgba(75, 162, 217, 0.125);
		box-shadow: 0 0 5px -1px rgba(75, 162, 217, 1);
	}
}

@-ms-keyframes hide {
	0% {
		opacity: 1;
		pointer-events: all;
		-ms-transform: translateX(0px);
	}

	100% {
		opacity: 0;
		pointer-events: none;
		-ms-transform: translateX(-40px);
	}
}

@-ms-keyframes show {
	0% {
		opacity: 0;
		pointer-events: none;
		-ms-transform: translateX(40px);
	}

	100% {
		opacity: 1;
		pointer-events: all;
		-ms-transform: translateX(0px);
	}
}

@-ms-keyframes show-back {
	0% {
		opacity: 0;
		pointer-events: none;
		-ms-transform: translateX(-40px);
	}

	100% {
		opacity: 1;
		pointer-events: all;
		-ms-transform: translateX(0px);
	}
}

@-ms-keyframes hide-back {
	0% {
		opacity: 1;
		pointer-events: none;
		-ms-transform: translateX(0px);
	}

	100% {
		opacity: 0;
		pointer-events: all;
		-ms-transform: translateX(40px);
	}
}

@-ms-keyframes roll-in {
	0% {
		opacity: 0;
		pointer-events: none;
		-ms-transform: translateX(-100px) rotate(-90deg);
	}

	100% {
		opacity: 1;
		pointer-events: all;
		-ms-transform: translateX(0px) rotate(0deg);
	}
}

@-ms-keyframes roll-around {
	0% {
		-ms-transform: translateX(0px) rotate(0deg);
	}

	25% {
		-ms-transform: translateX(-40px) rotate(-90deg);
	}

	50% {
		-ms-transform: translateX(40px) rotate(90deg);
	}

	75% {
		-ms-transform: translateX(-40px) rotate(-90deg);
	}

	100% {
		-ms-transform: translateX(0px) rotate(0deg);
	}
}

@-o-keyframes glow {
	0% {
		background-color: rgba(75, 162, 217, 0.125);
		box-shadow: 0 0 5px -1px rgba(75, 162, 217, 1);
	}

	50% {
		background-color: rgba(75, 162, 217, 0.5);
		box-shadow: 0 0 10px -2px rgba(75, 162, 217, 1);
	}

	100% {
		background-color: rgba(75, 162, 217, 0.125);
		box-shadow: 0 0 5px -1px rgba(75, 162, 217, 1);
	}
}

@-o-keyframes hide {
	0% {
		opacity: 1;
		pointer-events: all;
		-o-transform: translateX(0px);
	}

	100% {
		opacity: 0;
		pointer-events: none;
		-o-transform: translateX(-40px);
	}
}

@-o-keyframes show {
	0% {
		opacity: 0;
		pointer-events: none;
		-o-transform: translateX(40px);
	}

	100% {
		opacity: 1;
		pointer-events: all;
		-o-transform: translateX(0px);
	}
}

@-o-keyframes show-back {
	0% {
		opacity: 0;
		pointer-events: none;
		-o-transform: translateX(-40px);
	}

	100% {
		opacity: 1;
		pointer-events: all;
		-o-transform: translateX(0px);
	}
}

@-o-keyframes hide-back {
	0% {
		opacity: 1;
		pointer-events: none;
		-o-transform: translateX(0px);
	}

	100% {
		opacity: 0;
		pointer-events: all;
		-o-transform: translateX(40px);
	}
}

@-o-keyframes roll-in {
	0% {
		opacity: 0;
		pointer-events: none;
		-o-transform: translateX(-100px) rotate(-90deg);
	}

	100% {
		opacity: 1;
		pointer-events: all;
		-o-transform: translateX(0px) rotate(0deg);
	}
}

@-o-keyframes roll-around {
	0% {
		-o-transform: translateX(0px) rotate(0deg);
	}

	25% {
		-o-transform: translateX(-40px) rotate(-90deg);
	}

	50% {
		-o-transform: translateX(40px) rotate(90deg);
	}

	75% {
		-o-transform: translateX(-40px) rotate(-90deg);
	}

	100% {
		-o-transform: translateX(0px) rotate(0deg);
	}
}

@keyframes glow {
	0% {
		background-color: rgba(75, 162, 217, 0.125);
		box-shadow: 0 0 5px -1px rgba(75, 162, 217, 1);
	}

	50% {
		background-color: rgba(75, 162, 217, 0.5);
		box-shadow: 0 0 10px -2px rgba(75, 162, 217, 1);
	}

	100% {
		background-color: rgba(75, 162, 217, 0.125);
		box-shadow: 0 0 5px -1px rgba(75, 162, 217, 1);
	}
}

@keyframes hide {
	0% {
		opacity: 1;
		pointer-events: all;
		transform: translateX(0px);
	}

	100% {
		opacity: 0;
		pointer-events: none;
		transform: translateX(-40px);
	}
}

@keyframes show {
	0% {
		opacity: 0;
		pointer-events: none;
		transform: translateX(40px);
	}

	100% {
		opacity: 1;
		pointer-events: all;
		transform: translateX(0px);
	}
}

@keyframes show-back {
	0% {
		opacity: 0;
		pointer-events: none;
		transform: translateX(-40px);
	}

	100% {
		opacity: 1;
		pointer-events: all;
		transform: translateX(0px);
	}
}

@keyframes hide-back {
	0% {
		opacity: 1;
		pointer-events: none;
		transform: translateX(0px);
	}

	100% {
		opacity: 0;
		pointer-events: all;
		transform: translateX(40px);
	}
}

@keyframes roll-in {
	0% {
		opacity: 0;
		pointer-events: none;
		transform: translateX(-100px) rotate(-90deg);
	}

	100% {
		opacity: 1;
		pointer-events: all;
		transform: translateX(0px) rotate(0deg);
	}
}

@keyframes roll-around {
	0% {
		transform: translateX(0px) rotate(0deg);
	}

	25% {
		transform: translateX(-40px) rotate(-90deg);
	}

	50% {
		transform: translateX(40px) rotate(90deg);
	}

	75% {
		transform: translateX(-40px) rotate(-90deg);
	}

	100% {
		transform: translateX(0px) rotate(0deg);
	}
}
.show {
	-webkit-animation: show 250ms ease-in-out;
	-webkit-animation-fill-mode: forwards;
	-moz-animation: show 250ms ease-in-out;
	-moz-animation-fill-mode: forwards;
	-ms-animation: show 250ms ease-in-out;
	-ms-animation-fill-mode: forwards;
	-o-animation: show 250ms ease-in-out;
	-o-animation-fill-mode: forwards;
	animation: show 250ms ease-in-out;
	animation-fill-mode: forwards;
}

.hide {
	-webkit-animation: hide 250ms ease-in-out;
	-webkit-animation-fill-mode: forwards;
	-moz-animation: hide 250ms ease-in-out;
	-moz-animation-fill-mode: forwards;
	-ms-animation: hide 250ms ease-in-out;
	-ms-animation-fill-mode: forwards;
	-o-animation: hide 250ms ease-in-out;
	-o-animation-fill-mode: forwards;
	animation: hide 250ms ease-in-out;
	animation-fill-mode: forwards;
	z-index: -1;
	box-shadow: none;
}

.show-back {
	-webkit-animation: show-back 250ms ease-in-out;
	-webkit-animation-fill-mode: forwards;
	-moz-animation: show-back 250ms ease-in-out;
	-moz-animation-fill-mode: forwards;
	-ms-animation: show-back 250ms ease-in-out;
	-ms-animation-fill-mode: forwards;
	-o-animation: show-back 250ms ease-in-out;
	-o-animation-fill-mode: forwards;
	animation: show-back 250ms ease-in-out;
	animation-fill-mode: forwards;
}

.hide-back {
	-webkit-animation: hide-back 250ms ease-in-out;
	-webkit-animation-fill-mode: forwards;
	-moz-animation: hide-back 250ms ease-in-out;
	-moz-animation-fill-mode: forwards;
	-ms-animation: hide-back 250ms ease-in-out;
	-ms-animation-fill-mode: forwards;
	-o-animation: hide-back 250ms ease-in-out;
	-o-animation-fill-mode: forwards;
	animation: hide-back 250ms ease-in-out;
	animation-fill-mode: forwards;

	z-index: -1;
}

.loader {
	background-image: url('../gif/loading.gif');
    height: 50px;
    width: 50px;
    background-size: 100%;
    margin: auto;
}

.small-loader {
	background-image: url('../gif/loading.gif');
    height: 20px;
    width: 20px;
    background-size: 100%;
    position: fixed;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
}

